*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background: #8eb4d813;
min-width: 1200px;
}
#header{
    width: 100%;
    height: 80px;
  

}

#header img{
    width: 71px;
    height: 71px;
    border: #f0f0f0 1px solid;
    
}  

#header .img{
    width: 400px;
    height: 80px;
   position: relative;
    margin-left: 7%;
    text-align: right;
    color:  #01112a;
    font-size: 20px;
  
    float: left;

}
#header .img span{
    position: absolute;
    top:30px;
    width: 150px;


}

.line{
    width: 230px;
    height: 35px;
    background: rgba(3, 19, 37, 0.534);
    float: left;
    border-radius: 30px;
    margin-left: 32%;
    line-height: 35px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
 padding-left: 5px;
 position: relative;
 padding-left: 20px;
 color: #fff;
}

.line span{
    width: 25px;
    height: 25px;

display: inline-block;
border-radius: 50%; 
background: url(../image/phone.png) no-repeat,  #053c70ec;
background-position: center;
line-height: 25px;
position: absolute;
top:5px;
left: 5px;
  

}
.line  i{
    color: #fff;
    font-size: 18px;
}
#menu{
    clear: both;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background:linear-gradient(to right,#01112a 10%,#01050e 30%,#011635 50%,#01112a 70%,#01112a 80%);
   position: relative;
   min-width: 1500px;
}
#menu ul{
    width: 55%;
    height: 40px;
    margin: 0 auto;
    border-left: #404750 solid 1px;
  
  
}

#menu ul li{
    list-style: none;
    display: inline-block;
    width:10%;
    border-right: #404750 solid 1px;
    height: 40px;
    line-height: 40px;
    text-align: center;

}
#menu ul li a{
    text-decoration: none;
    color: rgb(228, 218, 218);
    font-size:0.95em;
}
#menu ul li a:hover{
    font-size:1em;
    color: #fff;

}

#menu ul span{
    display: inline-block;
    width: 150px;
    height: 20px;
    background: rgb(241, 236, 236);
    border-radius: 30px; 
    position: absolute;
    top:10px;
    right: 20%;
    z-index: 1;
  
 
}
#menu ul span b{
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius:0px 30px 30px 0px; 
    top:0px;
    right: 0px;
    position: absolute;
    background: url(../image/find.png) no-repeat, #053c70ec;
    background-position: center;
    

}
#banner{
    width: 100%;
    height: 206px;
background: url(../image/news-banner.png) no-repeat;
}
#main{
    width: 50%;
    height: 700px;
  background: linear-gradient(to bottom right, #909092 2% ,#e3e4e4 10%, #e5e6e7 12%,#eeeeee 20%, #fdfdfd 30%,#fff 40%);
    margin: -50px auto;
    border-radius: 5px;

}
#main .left{
    width: 25%;
    height: 100%;
   /*border: rgba(255, 0, 0, 0.308) 1px solid;*/
    float: left;
    border-radius:5px 0px 0px 5px; 
    box-shadow:0px 0px 10px #b4b0a4;
    
  
}
#main .right{
    width: 69%;
    height: 100%;
  
    float: right;
    margin-right: 2%;
   
}
#main .right .top{
    width: 100%;
    height: 50px;
    border-bottom:dotted 1px #d1d0b5;
    text-align: right;
    font-size: 12px;
    line-height: 50px;
    color: rgb(126, 122, 122);
}
#main .right .top a{
    color: rgb(126, 122, 122);
    text-decoration: none;

}
#main .right .top a:hover{
    color: rgb(98, 92, 196);
    text-decoration: underline;
}
#main .right .top b{
    font-style: normal;
    color: rgb(190, 187, 187);
}
#main .right .top span{
    width: 10px;
    height:10px;
    display: inline-block;
    border-radius:50%;
    border: rgb(126, 122, 122) 1px solid; 
    background: url(../image/dir.png) no-repeat;
    background-position: center;
    margin-right: 5px;
}
#main .right .bs-banner{
    width: 100%;
    height: 70px;
   background: url(../image/top1-ban.png) no-repeat;
   background-position: bottom;
   font-size: 13px;
color:#909092;
text-align: center;
line-height: 25px;
   
}
#main .right .bs-banner h4{
    font-size: 16px;
    font-weight: bold;
    color: rgb(70, 60, 60);
 padding-top: 15px;
}

#main .right .con-text{
    width: 100%;
    height: 380px;
    margin-top: 20px;
 /*border: 1px solid salmon;*/
 font-size: 13px;
 color:#909092;

 line-height: 28px;

}
#main .right .find{
    float: right;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
#main .right .find img{
    margin-left: 5px;
}
#main .right .con-sx{

    width: 100%;
    height: 50px;
    background: #f3f3f3;
    clear: both;
    border: 1px solid #cfcdcd;
padding-top: 20px;
  font-size: 12px;

}
#main .right .con-sx p{
    margin-left: 20%;

}
#main .right .con-sx span{
    color: rgb(241, 94, 94);
}









#sidebar{
    width: 25%;
    min-width: 25%;
    height: 650px;
    float: left;
    background-color: white;
    border-radius: 0px 0px 0px 5px;
    box-shadow:0px 0px 10px #b4b0a4;
}
#list{

    float: left;
    width: 100%;
    height: 250px; 

}
#list .list-title{
    position: relative;
    width:100%;
    height:50px;
    background: #2d2c26;
    background-size: 100% 42px;
    box-shadow:0px 2px 2px 1px #8d5a5a8c;
    color: rgb(207, 205, 195);
   top:5px;
   z-index: 200px;
}
#list .list-title b{
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 5px;
    background: #fff;
    position: absolute;
    right: -5px;
    top:8px;
 transform: rotate(40deg) skew(40deg) ;


  
}
#list .list-title span{
    font-style: italic;

}

.list{
    width: 100%;
    height: 310px;
}
.list-title p{
    text-align: center;
    width:100%;
    height:42px;
    line-height: 42px;
    font-size: 0.15rem;
    color: rgb(207, 205, 195);
}
.list-title span{
    font-size: 0.18rem;
    color: rgb(238, 230, 230);
}

.service{
    width: 100%;
    height: 62px;
    background: no-repeat, linear-gradient(to bottom,#c79354 10%,#c89658 20%,#c99a5e 30%);
    margin-top: -50px;
   
    
}
.service p{
    width:56%;
    float: right;
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.9;
    font-size:0.13rem;
}
.manage{
    width: 100%;
    height: 62px;
    background: no-repeat, linear-gradient(to bottom,#564936 0%,#78664c 20%,#826f52 35%,#8e795a 55%,#a48c68 90%);
    margin-top: 5px;
}
.manage p{
    width:56%;
    float: right;
    height: 25px;
    line-height: 25px;
    color:#ffffff;
    opacity: 0.9;
    font-size:0.13rem;
}
.dian{
    width: 100%;
    height: 62px;
    margin-top: 5px;
    background:  linear-gradient(to bottom,#848887 10%,#a2a79f 30%,#b0b5ab 60%);
    
}
.dian p{
    width:56%;
    float: right;
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.9;
    font-size:0.13rem;
}


#footer{
    width: 100%;
    height: 50px;
    background: #01112a;
    margin-top: 50px ;
    line-height: 50px;
    position: relative;
}
#footer p{ 
    color: #fff;
    font-size: 12px;
   position: absolute;
   left: 25%;
}
#footer p a{
    color:rgb(207, 199, 199);
    font-size: 12px;
    text-decoration: none;
    padding-left: 10px;
 

}
#footer p a:hover{
    text-decoration: underline;
    color: #fff;
   
}
#footer span{
    position: absolute;
    right: 35%;
    top:5%;
    font-size: 12px;
    color: #999;
 
}